<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %> 

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2">Runners Page</h1>
          <div class="row center">
            <h5 class="header col s12 light ">A directory of Running Races</h5>
          </div>
          <div class="row center">

          </div>
          <br><br>
  
        </div>
      </div>
      <div class="parallax"><img id="banner" src="/static/images/banner5.jpg" alt="banner"></div>
      </div>
     <br>
     <br>

     
        <% events.forEach((event)=>{ %>
          <!-- <div class="row">
            <div class="col s3">

            </div>
          </div>
          <div class="row">
            <div class="col s12 m7"> -->

              <div class="card">
                <div class="card-image">
                  <a href="/show/<%=event._id%>">
                    <img src="<%=event.image %> ">
                  </a>
                </div>
                <div class="card-content">
                  <span class="card-title"><%=event.name%> </span>
                  
                  <div class="right-align light"><%=event.location%></div>
                  <div class="right-align light">Date: <%=event.date %></div>
                  
                  <p><%=event.description %> </p>
                </div>
                <div class="card-action">
                  <a href="/show/<%=event._id %> ">More Information</a>
                  <div class="right-align">test</div>
                </div>
              </div>
            <!-- </div>
          </div> -->
              
    
        <%}) %> 
  


</body>
</html>