<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %> 


     
      <div class="container">
         <div class="row">      
           <% events.forEach((event)=>{ %>
             <div class="col s12 m4 l4">
                 <div class="card large hoverable">
                   <div class="card-image">
                     <a href="/show/<%=event._id%>">
                       <img class="" src="<%=event.image %> ">
                     </a>
                   </div>
                   <div class="card-content">
                     <span class="card-title"><%=event.name%> </span>
                     
                     <div class="right-align light"><%=event.location%></div>
                     <div class="right-align light">Date: <%=event.date %></div>
                     
                     <p><%=event.description %> </p>
                   </div>
                   <!-- <div class="card-action">
                     <a href="/show/<%=event._id %> ">More Information</a>
                     <div class="right-align">test</div>
                   </div> -->
                 </div>
               </div>
           <%}) %> 
       </div>
      </div>
<%- include("./partials/footer.ejs") %> 
</body>
</html>