<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %> 
    <!-- container -->
     <div class="container">
       <div class="row">
        <div class="col s12 m12 l12">
          <h2 class="teal-text text-darken-3"><%=event.name %> </h2>
          <!-- wrapper -->
          <div class="valign wrapper">
            <span>  <i class=" tiny material-icons">location_on</i><a href="#location"><%= event.location %></a> </span>
            <span>  <i class=" tiny material-icons">date_range</i> <%= event.date %> </span>
            <span>  <i class=" tiny material-icons">directions_run</i> 5k, 10k, Half, Full </span>
            <span>  <i class=" tiny material-icons">location_on</i><a href="#reviews">Reviews</a> </span>

            <% if(user){ %>
              <span class="right align">Out of Date? <a class="waves-effect waves-light btn" href="/edit/<%=event._id%>">Edit This Event</a></span>
            <%} else{ %>
              <span class="right align"> <a href="/auth/google"><i class=" material-icons left">vpn_key</i> Out of Date? Log in to Edit This Event</a></span>
            <%} %> 
          </div>
          <!-- wrapper end -->
          <!-- data in container -->
            <img class="test-test z-depth-5" src="<%=event.image %> " alt="">
            <br>
            <h3><blockquote>Join the <%=event.name%></blockquote></h3>
            <div  class="row">
              <div class="col s12 m8 l8">
                <blockquote>
                  <p class="flow-text"><%=event.description %> </p>
                </blockquote>
              </div>
              <div class="col s12 m4 l4">
                <div class="card-panel ">

                  <h5><%=event.name %> </h5>
                  <!-- reviews container -->
                  <div><a  href="#reviews">Reviews</a> 
                  
                  </div>
                  <!-- card row -->
                  <div class="row"> 
                  <div  class=" left col s6"><i class=" tiny material-icons">location_on</i> <%= event.location %></div>
                  <div class=" right col s6"><i class=" tiny material-icons">date_range</i> <%= event.date %></div>
                  </div>
                  <div class="row">

                    <div class=" col s12" ><i class=" tiny material-icons">directions_run</i> 5k, 10k, Half, Full</div>
                  </div>
                   <br><br> 
                   
                  <div class="row">
                    <div class=" center col s6">
                      <a href="<%=event.source%>" class="waves-effect waves-light btn-large">Website</a>
                     </div> 
                     <div class=" center col s6">
                       <a href="<%=event.signup%> " class="waves-effect waves-light btn-large">Sign Up</a>
                      </div> 
                  </div> 
                  
                 
                  </div>
                  
                </div>
              </div>
            
            
    
          <% if(user){ %>
            <form action="/show/<%=event._id%>?_method=DELETE" method="POST">
              <h6> Event no longer exists? </h6> <button class="red btn waves-effect waves-light" type="submit" name="action">DELETE
                <i class="material-icons right">send</i></button>
              <!-- <input class="delete-btn" type="submit" value="DELETE" /> -->
            </form>
            <!-- <a href="/edit/<%=event._id%>">Edit this product</a> -->
          <%} else{%> 
          
            <a href="/auth/google"><i class=" material-icons left">vpn_key</i>Event No longer Exist? Log in to Delete</a>
          <% } %> 
        </div>
       </div>
       <!-- map -->
       <h3 id="location"><blockquote>Location</blockquote> </h3>
       <div class="z-depth-5" id="map"></div>
       <!-- map -->

       <!-- reviews -->
       <h3 id="reviews"><blockquote>Reviews</blockquote></h3>
        <!-- review card -->
        <div class=" row">
           <% if(event.reviews.length){%>
            <% event.reviews.forEach((reviewObj)=>{%>
              <% if(reviewObj.review){%>
                <!-- avatar/name/id block -->
                <div class=" col s12"> 
                  <div>
                  <img class="circle" src="<%=reviewObj.reviewedBy.avatarURL%>" alt="">
                  </div>
                    <!-- <p>reviewid:<%=reviewObj._id%> </p> -->
                    <p><%=reviewObj.reviewedBy.name%></p>
                    <!-- <p><%=reviewObj.reviewedBy.googleId%></p> -->
                    <!-- <p>reviewedByid:<%=reviewObj.reviewedBy._id%></p> -->
                    <p><%=reviewObj.review%></p>
                    <div class="divider"></div>
                    <br>
                  <!-- if user falsy  -->
                  <% if(user && user.googleId === reviewObj.reviewedBy.googleId){%>
                    <!-- delete / update button row -->
                    <div class="row"> 
                      <div class="col s6">
                        <!-- not a functioning feature yet -->
                        <!-- <form action="/review/<%=reviewObj._id%>?_method=DELETE" method="POST">
                         <button class=" blue btn waves-effect waves-light" type="submit" name="action">UPDATE
                          <i class="material-icons right">update</i></button>
                      </form> -->
                      </div>
                      <div class="col s6">
                        <form action="/review/<%=event._id%>/<%=reviewObj._id%>?_method=DELETE" method="POST">
                          <button class="right red btn waves-effect waves-light" type="submit" name="action">DELETE
                            <i class="material-icons right">send</i></button>
                        </form>
                      </div>
                    </div>
                   <%} %> 
                </div>
                  <%} %>  
              <%})%> 
           <%} %> 
        </div>

        
        <!-- review card -->
          <br><br>
          <!-- review area -->
          <% if(user){%>
            <div class="row">
              <!-- form -->
              <form class="col s12" action="/review/<%=event._id %>" method="post">
                <label for="textarea1">Add A Review</label>
                <textarea id="textarea1" class="materialize-textarea" type="text" name="review"></textarea>
                <input type="hidden" name="reviewedBy" value="<%=user._id%>">
                <input type="hidden" name="rating" value="5">
                <!-- button -->
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit Review
                  <i class="material-icons right">send</i>
                </button>
              </form>
            </div>
          <%} else{%>
            <!-- login -->
            <div class="row">
              <h4 class="center"><a href="/auth/google">Login to Add A Review</a></h4>
            </div>
          <%}%> 
       <br>
       <br>
       <br>
       </div>
     </div>
     </div>
     </div>
     
     <script type="text/javascript">
      window.onload=function(){
     var map = L.map("map");
     L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png").addTo(map);
     map.setView([<%=event.latlng[0]%>, <%=event.latlng[1]%>], 13);
    var marker = L.marker([<%=event.latlng[0]%>, <%=event.latlng[1]%>]).addTo(map).bindPopup('<a href="<%=event.source%>"><%=event.name%></a>');
    L.control.layers(null, overlays, {
         collapsed: false
    }).addTo(map);
    }
    </script> 
<%- include("./partials/footer.ejs") %> 
</body>
</html>
