<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %> 

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Runners Page</h1>
            <div class="row center">
              <h5 class="header col s12 light ">A directory of Running Races</h5>
            </div>
            <div class="row center">
              <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
            </div>
            <br><br>
    
          </div>
        </div>
        <div class="parallax"><img id="banner" src="/static/images/banner5.jpg" alt="banner"></div>
      </div>
     <br>
     <br>
 
     <div class="container">
       <div class="row">
        <div class="col s12 m12 l12">

          <span><h2 class="teal-text text-darken-3"><%=event.name %> </h2></span>
          <% if(user){ %>

            <span class="right align">Out of Date? <a class="waves-effect waves-light btn" href="/edit/<%=event._id%>">Edit This Event</a></span>

          <%} else{ %>
            <span class="right align"> <a href="/auth/google"><i class=" material-icons left">vpn_key</i> Out of Date? Log in to Edit This Event</a></span>
          <%} %> 
         
            
            <img class="test-test z-depth-5" src="<%=event.image %> " alt="">
            <br>

          <blockquote>
    
            <p class="flow-text"><%=event.description %> </p>
          </blockquote>
    
    
    
    
          <% if(user){ %>
            <form action="/show/<%=event._id%>?_method=DELETE" method="POST">
              <input class="delete-btn" type="submit" value="DELETE" />
            </form>
            <a href="/edit/<%=event._id%>">Edit this product</a>
          <%} else{%> 
          
            <a href="/auth/google"><i class=" material-icons left">vpn_key</i>Log in With Google</a>
          <% } %> 
        </div>
       </div>
     </div>
      
</body>
</html>