<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %> 

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Runners Page</h1>
            <div class="row center">
              <h5 class="header col s12 light ">A directory of Running Races</h5>
            </div>
            <div class="row center">
              <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
            </div>
            <br><br>
    
          </div>
        </div>
        <div class="parallax"><img id="banner" src="/static/images/banner5.jpg" alt="banner"></div>
      </div>
     <br>
     <br>
 
      <h4><%=event.name %> </h4>
      <img src="<%=event.image %> " alt="">
      <p><%=event.description %> </p>

      <% if(user){ %>
        <form action="/show/<%=event._id%>?_method=DELETE" method="POST">
          <input class="delete-btn" type="submit" value="DELETE" />
        </form>
        <a href="/edit/<%=event._id%>">Edit this product</a>
      <%} else{%> 
      
        <a href="/auth/google"><i class=" material-icons left">vpn_key</i>Log in With Google</a>
      <% } %> 
</body>
</html>